body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: rgb(238, 238, 238); */
    background: #f2f2f2;

    /* text anti-aliasing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
*{-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;}
body,html, #root {
    height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-warning {
    color:red;
    font-size: 14px;
}
header {
    position: sticky !important;
}
.flex {
    display: flex;
}
.justifyCenter {
    justify-content: center;
}
.p8 {
    padding: 8px;
}
.p16 {
    padding: 16px;
}
.m24 {
    margin: 28px;
}
/* hiding time */
html body div#root div div.rbc-calendar div.rbc-time-view div.rbc-time-content div.rbc-day-slot.rbc-time-column div.rbc-events-container div.rbc-event div.rbc-event-label,
html body div#root div div.rbc-calendar div.rbc-time-view div.rbc-time-content div.rbc-time-gutter.rbc-time-column,
html body div#root div div.rbc-calendar div.rbc-time-view div.rbc-time-header.rbc-overflowing div.rbc-label.rbc-time-header-gutter,
html body div#root div div.rbc-calendar div.rbc-agenda-view table.rbc-agenda-table thead tr th.rbc-header,
html body div#root div div.rbc-calendar div.rbc-agenda-view div.rbc-agenda-content table.rbc-agenda-table tbody tr td.rbc-agenda-time-cell {
    display: none;
}

/* Edit Note desktop */
html body div.MuiDialog-root.responsive-dialog-title div.MuiDialog-container.MuiDialog-scrollPaper div.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
    width: 100%;
}
@media only screen and (max-height: 400px) {
    .h\:sm-noWrap{
        flex-wrap: nowrap !important;
    }
}
@media only screen and (max-height: 560px) {
    html body div#root div div.rbc-calendar div.rbc-toolbar {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    html body div#root div div.rbc-calendar div.rbc-toolbar span.rbc-toolbar-label {
        display: block;
        width: 100%;
    }
}
h1,h2,h3,h4,h5,h6{margin:0;}

.test1 {
    background:red;
}
.test2 {
    background: yellow;
}
.test3 {
    background: blue;
}