body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: rgb(238, 238, 238); */
    background: #f2f2f2;
}
body,html, #root {
    height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-warning {
    color:red;
    font-size: 14px;
}
header {
    position: sticky !important;
}
.flex {
    display: flex;
}
.justifyCenter {
    justify-content: center;
}
.p8 {
    padding: 8px;
}
.p16 {
    padding: 16px;
}
.m24 {
    margin: 28px;
}
@media only screen and (max-height: 400px) {
    .h\:sm-noWrap{
        flex-wrap: nowrap !important;
    }
}
h1,h2,h3,h4,h5,h6{margin:0;}

.test1 {
    background:red;
}
.test2 {
    background: yellow;
}
.test3 {
    background: blue;
}