.register {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.register-field > * {
    display: flex;
    margin:0 auto;
    width: 300px;
}

.register-field {
    margin: 8px;
}